@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin:0;
	padding:0;
	background-color: #d9eff1;
}

.container{
	height:100vh;
	
	display:grid;
	grid-template-columns: 15% 83.5%;
	grid-template-rows:14% 1.5fr 7fr 1fr;
	grid-gap:10px;
}

.container #fff{
	
	border-radius:20px;
}
/*Side bar nav bar*/

.navigation{
	grid-row-start: 1;
	grid-row-end: 5;
	
	display:flex;
	flex-direction:column;
	background:#3c9aa3;/*4E65A1*/
	align-items:center;
	padding-top:20px;
	overflow: hidden;
}

.navigation .logo{ /*Side bar LOGO*/
	min-width:80%;
	min-height:13%;
	margin-bottom:70px;
	
	background: #83cbd1;
	display:flex;
	align-items:center;
	justify-content:center;
	
	color:#4E65A1;
	font-size:2em;
	font-weight:bold;
}
.navigation .tabs{ /*Side bar TABS LINKS*/
	list-style:none;
	letter-spacing:2px;
	font-weight:lighter;
	
}
.navigation .tabs li{ /*Side bar TABS LINKS LIST*/
	margin-bottom:10px;
	padding:10px;
	min-width:200px;
	padding-left:20px;
	border-radius:10px;
}
.navigation .tabs a{ /*Side bar TABS LINKS LIST A*/
	text-decoration:none;
	color:white;
}
.navigation .tabs li:hover{ /*Side bar TABS HOVER*/
	background: #83cbd1/*e0f3fd*/;
	color:#01405a;
}

.navigation .tabs li:active{ /*Side bar TABS HOVER*/
	background: #d9eff1/*e0f3fd*/;
	color:#01405a;

	transform: scale(0.9);
}

#active{ /*Side bar TABS HOVER*/
	background: #fff/*e0f3fd*/;
	color:#01405a;
	transform: scale(0.9);
}

.records{ /*SETTINGS BUTTON*/
	pointer-events: none;
}

.dropdown { /*Dropdown class for SETTINGS BUTTON*/
	position: relative;
	display: inline-block;
}

.dropdown ul{
    display: none;
    margin-bottom:10px;
	padding-left:15px;
	border-radius:10px;
	font-size: 15px;
}
 
.dropdown ul li{
    line-height: 40px;
    display: inline;
}

.dropdown input{
    display: none;
}

#checkbox {
    opacity: 0;
}

#checkbox:checked + ul {
    display: block;
}

/*HEADER*/
.header{
	grid-column-start: 2;
	grid-column-end: 3;
	margin-top:10px;
	padding: 0 20px 0 20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	/*background:#4E65A1;*/
    background:#3c9aa3/*0392ce*/;
	color:#fff;
	letter-spacing:1px;
	
}

.header .user-icons{ /*HEADER User name text*/
	font-weight:lighter;
	text-transform:uppercase;
	font-size:.8rem;
	display: inline-flex;
}
.user-icons span{
	margin-right: 12px;
	margin-top: 20px;
}
.header .profile-pic img{
	
	height: 50px;
    width: 50px;
	border-radius: 50%;
}

/*CONTENT ACCOUNT*/
.content{
	grid-column-start:2;
	grid-column-end: 3;
	grid-row-start:2;
	grid-row-end:5;
	
	display:grid;
	padding: 15px;
	border:1px solid #41a8b1;
	
	grid-template-columns:25% 53% 8% 10.4% ;
	grid-template-rows: 10% 3% 8% 74.6%;
	grid-gap:10px;
}

/*CONTENT RECORDS*/
.content{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:2;
	grid-row-end:5;
	
	display:grid;
	padding: 15px;
	border:1px solid #41a8b1;
	
	grid-template-columns:5% 18% 5% 60%;
	grid-template-rows: 10% 3% 33% 48%;
	grid-gap:10px;
}

.content .profile{ /*CONTENT PROFILE HEADER*/
	grid-column-start:1;
	grid-column-end:6;
	
	background:white;
	border-radius:15px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color: #41a8b1;
	color: #fff;
	
}
.content .profile span{
	font-size:1.3rem;
	letter-spacing:3px;

}

.left{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:3;
	grid-row-end:4;
	
}
.left .profile-pic{
	border:1px solid #414141;
    height: 200px;
    width: 200px;
	position: absolute;
}
.profile-pic img{
	height: 100%;
	width: 100%;
}

.button_outer {
	margin-top: 160px;
	margin-left: 1px;
	background: transparent; 
	color: #fff;
	text-align: center; 
	height: px; 
	width: 198px; 
	display: inline-block; 
	transition: .2s; 
	position: relative; 
	overflow: hidden;
}
.button_outer :hover{
	transition-duration: 0.4s;
	background-color: #414141;
	color: #fff;
	height: 39px; 
	width: 198px;
}
.btn_upload, .save {
	padding:10px; 
	color: #fff; 
	text-align: center; 
	position: relative; 
	display: inline-block; 
	overflow: hidden; 
	z-index: 3; 
	white-space: nowrap;}

.btn_upload input {
	position: absolute; 
	width: 100%; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 105%; 
	cursor: pointer; 
	opacity: 0;}
.file_uploading {
	width: 100%; 
	height: 10px; 
	margin-top: 20px; 
	background: #ccc;}

.save{
	margin-top: 10px;
	margin-left: 48px;
	background: #41a8b1; 
	color: #fff;
	border-radius:10px; 
	text-align: center; 
	height: 40px; 
	width: 100px; 
	display: inline-block; 
	transition: .2s; 
	position: relative; 
	overflow: hidden;
}
.upload{
	border:none;
	background: #41a8b1; 
	color: #fff;
	font-size: 0.9rem;
	font-family: 'Montserrat', serif;
	letter-spacing: 1px;
}

legend{
	color: #41a8b1;
	font-size: 1.3rem;
	font-weight: bold;
}
hr{
	border: none;
	height: 5px;
	background-color: #41a8b1;
}
.up{
	grid-column-start:4;
	grid-column-end:5;
	grid-row-start:3;
	grid-row-end:4;

}

.down{
	grid-column-start:4;
	grid-column-end:5;
	grid-row-start:4;
	grid-row-end:5;

}

.right .basic span{
	font-size:1.5rem;
	font-family: 'Montserrat', serif;
	font-weight: bold;

}
.info{
	display:flex;
	margin-top: 8px;
	margin-left: 30px;
	float: left;
}
.label{
    width: 160px;
	color: #000;
}
.border{
	margin-left:10px;
	width:200px;
}
#errorUsernoFilename, #errorFileType, #errorUsername{
    color: #f35c5c;
    text-align: center;
    width: 90%;
	font-size: 13px;
    margin: 2px;
}
#success{
	color: #26c212;
    text-align: center;
    width: 90%;
	font-size: 13px;
    margin: 2px;
}
/*FOOTER*/
footer {
    text-align: center;
    background-color: #e1e8e9;
    line-height: 30px;
    padding: 10px 0px 10px;
    font-size: .80rem;
    width: 100%;
    color: #414141;
  }