@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin:0;
	padding:0;
    background-color: #d9eff1;
}
/* Modal Content */
.modal-content {
	/* border-radius:15px; */ /*kung trip mo ng medjo bilog balik mo*/
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 65%;
	margin-top:3%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.6s;
	animation-name: animatetop;
	animation-duration: 0.6s;
}
/* 
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {	
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
} */

/* The Close Button */
.close {
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	display:flex;
	height:5vh;
	background-color: #41a8b1;
	color: white;
	align-items:center;
	justify-content:space-between;
		
}
.modal-header h4{
	font-weight:lighter;
}
.modal-body {
	height:auto;
	padding: 5px 16px;
	display:grid;
	grid-template-columns: repeat(2 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap:20px;
	row-gap:10px;
}

.modal-footer {
	color: white;
	height:7vh;
	display:flex;
	justify-content:flex-start;
	align-items: center;
	width:100%;
}
.modal-footer .buttonmodal{
	width:100%;
	margin-bottom:5px;
	color:white;
	cursor:pointer;
	border:none;
	height: 70%;
}

#modal-fielset-div{/*div of filup*/
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:3;
	
	margin-top: 2%;
	align-content:center;
	margin-bottom: 1.5%;
}
/*START OF MODAL*/
.content .modal .modal-body .information-fillup .personal-info-fillup,.consultation-info{ /*field set*/
	padding:10px;
	display:flex;
	flex-wrap:wrap;
	margin: 0 auto;
	justify-content: center;
	border: 1px solid #41a8b1; /*border color*/
	

}
.content .modal .modal-body .information-fillup .personal-info-fillup,.consultation-info legend{
	color:#41a8b1; /*legend color*/
}

#modal-fieldset .modal-addrecord-info label{
	font-size:10px;
	font-weight: lighter;
	font: 10px Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
}
#modal-fieldset .modal-addrecord-info input, select	{
	height: 25px;
	outline:none;
	border: 1px solid #41a8b1; /*border color*/
	padding-left:5px;
	font: 11px Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
select{
	cursor: pointer;
}	
#modal-fieldset .modal-addrecord-info{
	display: flex;
	flex-direction: column;
	font-size:.8em;
	margin-bottom: 3%;
}
#modal-fieldset{
	display: flex;
	justify-content:space-between;
	color: #41a8b1;/*FOnt color for label*/	
	letter-spacing: .5px;
}
/* DIV SIZE FOR MODAL */
#studnum-info, #name-info, #college-info,
#course-info{
	width: 32%;
}
#modal-fieldset-inputed span{
	width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	color: transparent;
	background: none;
	z-index: 1;
	cursor: pointer;
}
  
input[type="date"]:before {
	color: transparent;
	background: none;
	display: block;
	font-family: 'FontAwesome';
	content: '\f073';
	/* This is the calendar icon in FontAwesome */
	width: 15px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 0;
	color: #999;
}
input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}
select:required:invalid {
	color: #999;
}
option[value=""][disabled] {
	display: none;
}
option {
	color: black;
}
#inputed-studnum,#inputed-name,#inputed-college,#inputed-course{
	height: 23px;
	width: 200px;
	display: inline-flex;
	border: 1px solid #41a8b1; /*border color*/
	padding-left:5px;
	font: 13px Arial, Helvetica, sans-serif;
	font-weight: lighter;
	align-items: center;
}
.inputed{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left:0;
}
.inputed .modal-content{
	height: auto;
}
.inputed .close1 {
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.inputed .close1:hover,
.inputed .close1:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
#modal-fieldset-inputed{		
	padding:10px;
	display:flex;
	flex-wrap:wrap;
	margin: 0 auto;
	justify-content: space-between;
	border: 1px solid #41a8b1; /*border color*/
}
.modal-addrecord-info label{
	width: 150px;
    margin-bottom: 2%;
}
.inputed .modal-addrecord-info{
	margin-bottom: 10px;
	color:#41a8b1;
	display:flex;
	flex-direction:column;
}
#modal-fieldset-inputed label{
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#modal-fieldset-inputed legend{color:#41a8b1;}
#backbttn{
	margin-right:20px
}
#backbttn,#consultbtn{
	width:50%;
	margin-bottom:5px;
	color:white;
	cursor:pointer;
	border:none;
	height: 60%;
}
#consultbtn{
	background:#41a8b1;
}
#consultbtn:hover{
	background:#368a91;
}
#consultbtn:active{
	transition: 0.2s;
	background:#41a8b1;
}
#backbttn{
	background:#ff4040;
}
#backbttn:hover{
	background:maroon;
}
#backbttn:active{
	transition: 0.2s;
	background:#41a8b1;
}
.content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    display: grid;
    padding: 10px 15px 10px 15px;
    border: 1px solid #41a8b1;
    grid-template-columns: 100%;
    grid-template-rows: 10% 3% 8% 74.6%;
    grid-gap: 10px;
}
.content .schedule {
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:2;
}

.schedule p {
	width: 100%;
	padding: 15px;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 1px;
	font-size: 1rem;
	background-color: #41a8b1;
	color: #fff;
	font: 12px Arial, Helvetica, sans-serif;

}

table, th, td{
	
	margin-top: 30px;
	border:1px solid #3c9aa3;

	font: 12px Arial, Helvetica, sans-serif;
	grid-column-start:1;
	grid-column-end: 2;
}

th {
	background-color: #41a8b1;
	color: #fff;
}

td,tr {
	text-align: center;
    height: 26px;
}

tr:nth-child(odd){
	background-color: #91d1d7;
}

